:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --color-green: #adda78;
  --color-light-green:#f6fbf1;
  --color-yellow: #f9cc6c;
  --color-light-yellow:#fdf4e1;
  --color-red: #fd6883;
  --color-light-red:#feeff2;
  --color-orange: #f38d70;
  --color-light-orange:#fbdcd4;
  --color-blue: #85dacc;
  --color-light-blue:#e6f7f4;
  --color-purple:#a8a9eb;
  --color-light-purple:#e4e5f9;
  --color-pink: #fd6883;
  --color-light-pink: #fed1d9;
  --color-light: #fff;
  --color-dark: #242424;
  --space: 3rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
}


.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
}

/* responsive components */
.box {
  padding: var(--s2);
  border: var(--border-thin) solid;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/* Buttons */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.625em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-1);
}

.with-sidebar > :first-child {
  flex-basis: 1rem; 
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
  
button:hover {
  border-color: #646cff;
}
p {
  padding:0;
  margin:0;
}
.center-flex{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button.button-xsm{
  padding: 0.3125rem 0.5rem;
  font-size: 0.50rem;
}
button.button-sm{
  padding: 0.46875rem 0.75rem;
  font-size: 0.75rem;
}

button.button-lg{
  padding: 0.78125rem 1.25rem;
  font-size: 1.25rem;
}

button.button-xl{
  padding: 0.9375rem 1.5rem;
  font-size: 1.50rem;
}

button.button-success{
  color: var(--color-green);
  background-color: var(--color-light-green);
  border-color: var(--color-green);
}

button.button-warning{
  color:var(--color-yellow);
  background-color:var(--color-light-yellow);
  border-color:var(--color-yellow);

}


button.button-danger{
  color:var(--color-red);
  background-color: var(--color-light-red);
  border-color: var(--color-red);
}

span.badge-styling{
  text-align: center;
  border-radius: 5px;
  background-color: #eeeeec;
  padding: 0.25rem 0.5rem; 
}
span.badge-yellow, .banner-warning{
  color:var(--color-yellow);
  background-color:var(--color-light-yellow);
  border-color:var(--color-yellow);
}
span.badge-red, .banner-error{
  color:var(--color-red);
  background-color:var(--color-light-red);
  border-color:var(--color-red);
}
span.badge-purple{
  color:var(--color-purple);
  background-color:var(--color-light-purple);
  border-color:var(--color-purple);
}
span.badge-blue{
  color:var(--color-blue);
  background-color:var(--color-light-blue);
  border-color:var(--color-blue);
}
span.badge-green, .banner-success{
  color:var(--color-green);
  background-color:var(--color-light-green);
  border-color:var(--color-green);
}
span.badge-orange{
  color:var(--color-orange);
  background-color:var(--color-light-orange);
  border-color:var(--color-orange);
}

 .banner-neutral{
    background-color: var(--color-light-purple);
    color: var(--color-purple);
 }
.banner-text p:first-child::first-line {
  font-weight: bold;
  font-size: 115%;
}

.banner{
  border-radius: 8px;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-end: 1rem;
}

.stack, .stack-sm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.zero-padding{
  padding:0;
}

.stack-sm {
  align-items: center;
  border-radius: 8px;
background: #F9FAFB;
}

.stack-sm:hover {
  align-items:center;
  border-radius: 8px;
  background: #F9FAFB;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
}

.stack, .stack-sm > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}
.stack-xl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-xl > * {
  margin-block: 0;
} 

.stack-xl > * + * {
  margin-block-start: var(--space, 3rem);
}

.stack-sm > * + * {
  margin-block-start: var(--space, 1.5rem);
}
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(h1) {
  margin-block-start: 0;
}

.cover > :last-child:not(h1) {
  margin-block-end: 0;
}

.cover > h1 {
  margin-block: auto;
}
  
.sidebar-image {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-1);
}

.sidebar-image > :first-child {
  flex-grow: 1;
}

.sidebar-image > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
.testimonials-image { 
 max-inline-size: 16rem;
  border-radius: 8px;
}
.frame {
  --n: 3;
  --d: 2;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.testimonial-text p {
  font-size: x-large;
}

.reviewer-text p{
  font-size:smaller;
}

.reviewer-text span{
  font-weight:700;
}

.tooltip{
  max-width: 24rem;
  background-color: var(--color-blue);
  display:flex;
  flex-direction:row;
  gap:20px;
}

.tooltip p{
  padding: 1.4rem;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #e6f7f4;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
